body{
margin:0px;
padding:0px;
box-sizing: border-box;
}

.kurs-container{
    width: 90%;
    margin:5px auto;
}
.form-group{
    margin-bottom: 5px;
}

.course-image{
    width:100%;
    object-fit:cover;
}